.top-contents-wrap {
  border: 3px solid red;
  background: #000;
}
.top-contents-wrap h1 {
  font-size: 1.4vw;
  font-weight: bold;
  padding: 10px 4% 0px;
}
.top-contents {
  padding: 0 0 20px 4%;
}
.rank-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rank-wrap .rank-poster {
  width: 44%;
}
