.preview-detail-wrap {
  background-color: rgb(0 0 0 / 70%);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  overflow-y: auto;
}
.preview-detail {
  position: relative;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
  padding-bottom: 2em;
  background: #181818;
  margin: 60px auto;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
}
.preview-detail-top {
  position: relative;
  background: linear-gradient(0deg, #181818, transparent 50%);
}
.preview-detail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #181818, transparent 50%);
}
.close-icon {
  position: absolute;
  right: 15px;
  top: 10px;
  background: #181818;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}
.preview-btn-wrap {
  margin: 0 0 0 2em;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.play-btn {
  padding-left: 2rem;
  padding-right: 2.4rem;
  display: flex;
  gap: 8px;
}
.preview-detail-btm {
  color: #fff;
  padding: 2em 2.5em 3em;
  background: #181818;
}
.preview-detail-first {
  display: grid;
  column-gap: 2em;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  font-size: 14px;
}
.preview-info {
  padding: 10px 0;
}
.preview-info-title {
  padding-right: 5px;
  color: #777;
}
.preview-similar-wrap {
}
.preview-contents-wrap {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  cursor: pointer;
}
.more-btn-wrap {
  border-bottom: 3px solid #404040;
  box-shadow: none;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: -6em;
  height: 6em;
  background-image: linear-gradient(
    0deg,
    #181818 0,
    hsla(0, 0%, 9%, 0.7) 20%,
    hsla(0, 0%, 9%, 0.4) 30%,
    transparent 50%
  );
}
.more-btn-wrap.open {
  transform: rotateZ(180deg);
  margin-top: 6em;
}
.more-btn {
  border-radius: 50%;
  border: 3px solid hsla(0, 0%, 100%, 0.5);
  width: 39px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}
.more-btn img {
  padding: 0.5em;
}
.preview-contents-card {
  border-radius: 6px;
  overflow: hidden;
}
.preview-contents-title {
  padding-top: 10px;
  font-size: 24px;
  font-weight: bold;
}
.preview-contents-info {
  background-color: #2f2f2f;
  padding: 1em;
  min-height: 50%;
}
.preview-contents-top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.preview-contents-info p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0px;
  padding-top: 10px;
}
.preview-contents-info h3 {
  font-size: 16px;
}
