@font-face {
  font-family: "Segoe UI";
  src: url("./assets/fonts/Segoe\ UI.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  color: #fff !important;
  font-family: "Segoe UI", "Noto Sans KR", sans-serif !important;
}
