.movie-card-wrap {
  border-radius: 5px;
  overflow: visible;
  position: relative;
  z-index: 0;
}
.movie-card {
  cursor: pointer;
  /* transition: 0.5s;
  position: relative; */
}
.movie-card:hover {
  /* opacity: 0; */
  transition: all 1s;
}
