.navbar {
  position: fixed;
  width: 100%;
  top: 0px;
  height: auto;
  min-height: 70px;
  z-index: 9999;
  padding: 0 4%;
  background: linear-gradient(to bottom, #141414, rgba(0, 0, 0, 0));
  transition: all 1s ease;
}
.header.scrolled {
  background: #141414;
}
.logo-wrap {
  width: 5.8rem;
}
.nav-right {
  gap: 10px;
  align-items: center;
}
.search-wrap {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid hsla(0, 0%, 100%, 0.85);
  opacity: 0;
  width: 0px;
}
.nav-right.open .search-wrap {
  display: flex;
  align-items: center;
  width: 212px;
  opacity: 1;
  padding: 4px 14px 7px 2px;
  transition: width 0.4s ease, opacity 0.3s ease;
}
.nav-right.open > .search-btn {
  display: none;
}
.search-btn {
  border: 0;
  background: none;
  width: 33px;
  padding: 0 6px;
  cursor: pointer;
  margin-right: -10px;
}
.nav-right.open > .search-wrap input {
  width: 100%;
}
.search-wrap input {
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  font-size: 14px;
  width: 0px;
}
.notice-wrap {
  margin-right: 10px;
}
.profile-wrap {
  background: #fff;
  width: 32px;
  height: 32px;
  border-radius: 5px;
}
